<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
       <link rel="stylesheet" type="text/css" href="../../../css/elementui.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/app.min.css" /> 
    </head>
    <body>
        <div id="app">

            <div class="header">
                <div class="header-center">
                    <div class="center-right">
                        <a href="">登录</a>
                        <span class="line"></span>
                        <a href="">免费注册</a>
                        <a href="">个人中心</a>
                        <span class="line"></span>
                        <a href="">入住开店</a>
                        <span class="line"></span>
                        <a href="">客服</a>
                        <span class="line"></span>
                        <a href="">更多<i class="fa fa-plus"></i></a>
                        
                    </div>
                </div>
            </div>
            <div class="search-content">
                <div class="search-left store-lib">
                       <i class="fa fa-map-marker"></i>
                       当前位置：样品>

                       <span>结婚结婚结婚啦一生唯爱钻戒</span>

                </div>
                <div class="search-right">
                    <input placeholder="请输入店铺或服务中心门牌号" name="" value="" />
                    <span class=""><i class="fa fa-search"></i></span>
                </div>
            </div>
            <div class="content-nr">
                    <div class="content-nm">
                            <div class="content-in"> 
                                    <div class="import">
                                            <img  src="../../../images/zuanjie.png" alt="">
                                            <img style="display:none" src="../../../images/zuanjie.png" alt="">
                                    </div>
                                    
                            </div>
                            <div class="content-ft">
                                    <div class="zp active">
                                            <img src="../../../images/xiaotu.png" alt="">
                                    </div>
                                    <div class="zp">
                                            <img src="../../../images/xiaotu.png" alt="">
                                    </div>
                                    <div class="zp">
                                            <img src="../../../images/xiaotu.png" alt="">
                                    </div>
                                    <div class="zp">
                                            <img src="../../../images/xiaotu.png" alt="">
                                    </div>
                            </div>
                            <div class="content-fb">
                                    <div class="content-lasrt">
                                            拉芳洗发水护发素套装正品男女士洗头膏去屑止痒控油柔顺持久留香商品 周期
                                    </div>
                                    <div class="content-span">
                                            去屑养护1升 送 235ml 护发素品
                                    </div>
                                    <div class="content-bj deta-price">
                                            <div class="d-price">
                                                <div class="price">价格： <font>￥1703.30</font>        </div>
                                                <div class="d-cx">促销价： <font>￥</font> <font>703.30</font> </div>
                                            </div>  
                                            <div class="deta-priceimg">
                                                <img src="../../../images/erweima.png" alt="">
                                                <div class="img-show">分享扫一扫</div>
                                            </div>
                                    </div>
                                    <div class="content-fw">
                                            <span class="serve">运费</span>
                                            <span class="">广东深圳 至 东莞 <i class="fa fa-angle-down"></i>    </span>
                                            <span class="store-kd">快递： 0.00</span>
                                    </div>
                                    <div class="content-fw details-pj">
                                            <span class="serve">累计评价 <font>788</font></span>
                                            <span class="splice">|</span>
                                            <span class="deta-jf">送积分  <font>551</font></span>

                                    </div>
                                     <div class="date-num">

                                            <div class="num">规格  <span class="detail-show detail-check"><div>足金 工费48</div></span></div>
                                            <div class="num">重量  <span class="detail-show"><div>1.9kg</div></span></div>    
                                            <div class="num">数量  
                                                <span class="detail-num">
                                                    <input type="text" name="" value="1"> 
                                                    <a href="javaScript:void(0);" class="num-up"><i class="fa fa-angle-up"></i></a>
                                                    <a href="javaScript:void(0);" class="num-down"><i class="fa fa-angle-down"></i></a>
                                                </span>
                                                <span class="store-kc">库存 <font>7</font> 件</span>
                                            </div>    
                                            

                                    </div>
                                    <div class="content-button">
                                            <div class="content-jr">
                                                    <a class="btn-null bth-car btn-big" href="javaScript:void(0)">
                                                            <i class="fa fa-shopping-cart"></i>加入购物车
                                                    </a>
                                                    <a class="btn btn-big" href="javaScript:void(0)">
                                                            立即购买
                                                    </a>
                                                 
                                            </div>
                                           
                                    </div>
                            </div>
                    </div>
            </div>
            <div class="top details-content">
                    <div class="top-left">
                            <div class="top-header">
                                     <div>
                                       <span> ——</span>为您推介<span>——</span>
                                    </div>
                            </div>
                            <div class="xne">
                                    <img src="../../../images/xne.png" alt="">
                            </div>
                            <div class="xne">
                                    <img src="../../../images/xne.png" alt="">
                            </div>

                            <div class="xne">
                                    <img src="../../../images/xne.png" alt="">
                            </div>

                    </div>
                    <div class="top-right">
                            <template>
                                  <el-tabs  type="card" v-model="activeName2" >
                                    <el-tab-pane label="礼品详情" name="store-car">
                                            <div class="active-content">
                                                    <div class="content-t">
                                                            <div class="title">
                                                                    <span class="bt">品牌名称：</span>
                                                                    <span class="zt">周大福</span>
                                                            </div>
                                                            <div class="ccs">产品参数：</div>
                                                            <div class="neirong">
                                                                    <el-row>
                                                                      <el-col :span="8"><div class="grid-content bg-purple">上市时间：2016</div></el-col>
                                                                      <el-col :span="8"><div class="grid-content bg-purple-light">是否商场同款：否</div></el-col>
                                                                      <el-col :span="8"><div class="grid-content bg-purple-light">货号：100</div></el-col>
                                                                    </el-row>
                                                            </div>
                                                             <div class="neirong">
                                                                    <el-row>
                                                                      <el-col :span="8"><div class="grid-content bg-purple">上市时间：2016</div></el-col>
                                                                      <el-col :span="8"><div class="grid-content bg-purple-light">是否商场同款：否</div></el-col>
                                                                      <el-col :span="8"><div class="grid-content bg-purple-light">货号：100</div></el-col>
                                                                    </el-row>
                                                            </div>
                                                             <div class="neirong">
                                                                    <el-row>
                                                                      <el-col :span="8"><div class="grid-content bg-purple">上市时间：2016</div></el-col>
                                                                      <el-col :span="8"><div class="grid-content bg-purple-light">是否商场同款：否</div></el-col>
                                                                      <el-col :span="8"><div class="grid-content bg-purple-light">货号：100</div></el-col>
                                                                    </el-row>
                                                            </div>
                                                             <div class="neirong">
                                                                    <el-row>
                                                                      <el-col :span="8"><div class="grid-content bg-purple">上市时间：2016</div></el-col>
                                                                      <el-col :span="8"><div class="grid-content bg-purple-light">是否商场同款：否</div></el-col>
                                                                      <el-col :span="8"><div class="grid-content bg-purple-light">货号：100</div></el-col>
                                                                    </el-row>
                                                            </div>
                                                    </div>
                                                    <div class="neirong-img">
                                                            <img src="../../../images/zsdbq.png" alt="">
                                                    </div>
                                            </div>
                                    </el-tab-pane> 
                                    <el-tab-pane label="评价(30)" name="setails-msg">
                                        <div class="eval">
                                            <div class="eval-select">
                                                <div class="msg-ck">
                                                    <template>
                                                      <el-radio class="radio" name="msg-rad" v-model="radio" label="1">全部</el-radio>
                                                      <el-radio class="radio" name="msg-rad" v-model="radio" label="2">图片(115)</el-radio>
                                                      <el-radio class="radio" name="msg-rad" v-model="radio" label="3">追评(115)</el-radio>
                                                      <el-radio class="radio" name="msg-rad" v-model="radio" label="4">好评(115)</el-radio>
                                                      <el-radio class="radio" name="msg-rad" v-model="radio" label="5">中评(115)</el-radio>
                                                      <el-radio class="radio" name="msg-rad" v-model="radio" label="6">差评(115)</el-radio>
                                                      <el-radio class="radio chekd" name="msg-rad" v-model="radio" label="7">试用报告(115)</el-radio>
                                                    </template>
                                                     <span class="select">
                                                    <template>
                                                      <el-select v-model="value2" >
                                                        <el-option
                                                          v-for="item in options2"
                                                          :label="item.label"
                                                          :value="item.value"
                                                          :disabled="item.disabled">
                                                        </el-option>
                                                      </el-select>
                                                    </template>
                                                </span>
                                                </div>

                                            </div>


                                            <div class="shop-eval">
                                                <div class="eval-user">
                                                    <img class="head" src="../../../images/management-idea.png">
                                                    <div class="user-name">放到洒***(匿名)</div>
                                                    <div class="star">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    </div>
                                                </div>  
                                                <div class="eval-info">
                                                    <div class="info">
                                                        拍下的是光明碳性电池，店主说没货，给我换别的，我说要碳性，结果发了华虹无汞环保电池，上网查了下无汞环保电池，只能说不含汞，但没说是属于碳性或者碱性。
                                                        一分价钱一分货，这么便宜肯定惨了差品在里面。我一打开就拿了一排试试，还以为是玩具太久没用坏了，随后又试了几种物品，原来是整排都没电。习惯好评罢了！
                                                    </div>
                                                    <div class="eval-img">
                                                        <ul>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                            <li><img class="" src="../../../images/shop2.jpg"></li>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                        </ul> 
                                                        
                                                    </div>
                                                    <div class="eval-time">
                                                        <span>2017年02月25日 15:55</span>
                                                        <span>净含量（50）克</span>
                                                        <div class="float-right eval-use">
                                                            <span>有用</span>
                                                            <font>(0)</font>
                                                        </div>
                                                    </div>
                                                    <div class="eval-add">
                                                        <div class="add-content">
                                                            <span>[追加评论]</span>拉拉啊，我是卖报的小当家，哟吼黑，我送你离开，千里之外，你无声黑白，成魔年代，或许不该，太遥远的相爱、

                                                        </div>  
                                                        <div class="add-time">
                                                            <span>确认收货后 155 天追加</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shop-eval">
                                                <div class="eval-user">
                                                    <img class="head" src="../../../images/shop.jpg">
                                                    <div class="user-name">爱你洒***(匿名)</div>
                                                    <div class="star">
                                                        <img src="../../../images/b_blue_1.gif">
                                                        <img src="../../../images/b_blue_1.gif">
                                                        <img src="../../../images/b_blue_1.gif">
                                                        <img src="../../../images/b_blue_1.gif">
                                                    </div>
                                                </div>  
                                                <div class="eval-info">
                                                    <div class="shop-info">
                                                        <span>清洁度：清洁效果非常好</span>
                                                        <span>滋润度：滋润效果非常好你妹</span>
                                                        <span>气味：大蒜的味道</span>
                                                    </div>  
                                                    <div class="info">
                                                        拍下的是光明碳性电池，店主说没货，给我换别的，我说要碳性，结果发了华虹无汞环保电池，上网查了下无汞环保电池，只能说不含汞，但没说是属于碳性或者碱性。
                                                        一分价钱一分货，这么便宜肯定惨了差品在里面。我一打开就拿了一排试试，还以为是玩具太久没用坏了，随后又试了几种物品，原来是整排都没电。习惯好评罢了！
                                                    </div>
                                                    <div class="eval-img">
                                                        <ul>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                            <li><img class="" src="../../../images/shop2.jpg"></li>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                        </ul> 
                                                        
                                                    </div>
                                                    <div class="eval-time">
                                                        <span>2017年02月25日 15:55</span>
                                                        <span>净含量（50）克</span>
                                                        <div class="float-right eval-use">
                                                            <span>有用</span>
                                                            <font>(0)</font>
                                                        </div>
                                                    </div>
                                                    <div class="eval-add">
                                                        <div class="add-content">
                                                            <span>[追加评论]</span>拉拉啊，我是卖报的小当家，哟吼黑，我送你离开，千里之外，你无声黑白，成魔年代，或许不该，太遥远的相爱、

                                                        </div>  
                                                        <div class="add-time">
                                                            <span>确认收货后 155 天追加</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="shop-eval">
                                                <div class="eval-user">
                                                    <img class="head" src="../../../images/management-idea.png">
                                                    <div class="user-name">放到洒***(匿名)</div>
                                                    <div class="star">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    </div>
                                                </div>  
                                                <div class="eval-info">
                                                    <div class="info">
                                                        拍下的是光明碳性电池，店主说没货，给我换别的，我说要碳性，结果发了华虹无汞环保电池，上网查了下无汞环保电池，只能说不含汞，但没说是属于碳性或者碱性。
                                                        一分价钱一分货，这么便宜肯定惨了差品在里面。我一打开就拿了一排试试，还以为是玩具太久没用坏了，随后又试了几种物品，原来是整排都没电。习惯好评罢了！
                                                    </div>
                                                    <div class="eval-img">
                                                        <ul>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                            <li><img class="" src="../../../images/shop2.jpg"></li>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                        </ul> 
                                                        
                                                    </div>
                                                    <div class="eval-time">
                                                        <span>2017年02月25日 15:55</span>
                                                        <span>净含量（50）克</span>
                                                        <div class="float-right eval-use">
                                                            <span>有用</span>
                                                            <font>(0)</font>
                                                        </div>
                                                    </div>
                                                    <div class="eval-add">
                                                        <div class="add-content">
                                                            <span>[追加评论]</span>拉拉啊，我是卖报的小当家，哟吼黑，我送你离开，千里之外，你无声黑白，成魔年代，或许不该，太遥远的相爱、

                                                        </div>  
                                                        <div class="add-time">
                                                            <span>确认收货后 155 天追加</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shop-eval">
                                                <div class="eval-user">
                                                    <img class="head" src="../../../images/shop.jpg">
                                                    <div class="user-name">爱你洒***(匿名)</div>
                                                    <div class="star">
                                                        <img src="../../../images/b_blue_1.gif">
                                                        <img src="../../../images/b_blue_1.gif">
                                                        <img src="../../../images/b_blue_1.gif">
                                                        <img src="../../../images/b_blue_1.gif">
                                                    </div>
                                                </div>  
                                                <div class="eval-info">
                                                    <div class="shop-info">
                                                        <span>清洁度：清洁效果非常好</span>
                                                        <span>滋润度：滋润效果非常好你妹</span>
                                                        <span>气味：大蒜的味道</span>
                                                    </div>  
                                                    <div class="info">
                                                        拍下的是光明碳性电池，店主说没货，给我换别的，我说要碳性，结果发了华虹无汞环保电池，上网查了下无汞环保电池，只能说不含汞，但没说是属于碳性或者碱性。
                                                        一分价钱一分货，这么便宜肯定惨了差品在里面。我一打开就拿了一排试试，还以为是玩具太久没用坏了，随后又试了几种物品，原来是整排都没电。习惯好评罢了！
                                                    </div>
                                                    <div class="eval-img">
                                                        <ul>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                            <li><img class="" src="../../../images/shop2.jpg"></li>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                        </ul> 
                                                        
                                                    </div>
                                                    <div class="eval-time">
                                                        <span>2017年02月25日 15:55</span>
                                                        <span>净含量（50）克</span>
                                                        <div class="float-right eval-use">
                                                            <span>有用</span>
                                                            <font>(0)</font>
                                                        </div>
                                                    </div>
                                                    <div class="eval-add">
                                                        <div class="add-content">
                                                            <span>[追加评论]</span>拉拉啊，我是卖报的小当家，哟吼黑，我送你离开，千里之外，你无声黑白，成魔年代，或许不该，太遥远的相爱、

                                                        </div>  
                                                        <div class="add-time">
                                                            <span>确认收货后 155 天追加</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="shop-eval">
                                                <div class="eval-user">
                                                    <img class="head" src="../../../images/management-idea.png">
                                                    <div class="user-name">放到洒***(匿名)</div>
                                                    <div class="star">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    <img src="../../../images/b_red_1.gif">
                                                    </div>
                                                </div>  
                                                <div class="eval-info">
                                                    <div class="info">
                                                        拍下的是光明碳性电池，店主说没货，给我换别的，我说要碳性，结果发了华虹无汞环保电池，上网查了下无汞环保电池，只能说不含汞，但没说是属于碳性或者碱性。
                                                        一分价钱一分货，这么便宜肯定惨了差品在里面。我一打开就拿了一排试试，还以为是玩具太久没用坏了，随后又试了几种物品，原来是整排都没电。习惯好评罢了！
                                                    </div>
                                                    <div class="eval-img">
                                                        <ul>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                            <li><img class="" src="../../../images/shop2.jpg"></li>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                        </ul> 
                                                        
                                                    </div>
                                                    <div class="eval-time">
                                                        <span>2017年02月25日 15:55</span>
                                                        <span>净含量（50）克</span>
                                                        <div class="float-right eval-use">
                                                            <span>有用</span>
                                                            <font>(0)</font>
                                                        </div>
                                                    </div>
                                                    <div class="eval-add">
                                                        <div class="add-content">
                                                            <span>[追加评论]</span>拉拉啊，我是卖报的小当家，哟吼黑，我送你离开，千里之外，你无声黑白，成魔年代，或许不该，太遥远的相爱、

                                                        </div>  
                                                        <div class="add-time">
                                                            <span>确认收货后 155 天追加</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shop-eval">
                                                <div class="eval-user">
                                                    <img class="head" src="../../../images/shop.jpg">
                                                    <div class="user-name">爱你洒***(匿名)</div>
                                                    <div class="star">
                                                        <img src="../../../images/b_blue_1.gif">
                                                        <img src="../../../images/b_blue_1.gif">
                                                        <img src="../../../images/b_blue_1.gif">
                                                        <img src="../../../images/b_blue_1.gif">
                                                    </div>
                                                </div>  
                                                <div class="eval-info">
                                                    <div class="shop-info">
                                                        <span>清洁度：清洁效果非常好</span>
                                                        <span>滋润度：滋润效果非常好你妹</span>
                                                        <span>气味：大蒜的味道</span>
                                                    </div>  
                                                    <div class="info">
                                                        拍下的是光明碳性电池，店主说没货，给我换别的，我说要碳性，结果发了华虹无汞环保电池，上网查了下无汞环保电池，只能说不含汞，但没说是属于碳性或者碱性。
                                                        一分价钱一分货，这么便宜肯定惨了差品在里面。我一打开就拿了一排试试，还以为是玩具太久没用坏了，随后又试了几种物品，原来是整排都没电。习惯好评罢了！
                                                    </div>
                                                    <div class="eval-img">
                                                        <ul>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                            <li><img class="" src="../../../images/shop2.jpg"></li>
                                                            <li><img class="" src="../../../images/management-idea.png"></li>
                                                        </ul> 
                                                        
                                                    </div>
                                                    <div class="eval-time">
                                                        <span>2017年02月25日 15:55</span>
                                                        <span>净含量（50）克</span>
                                                        <div class="float-right eval-use">
                                                            <span>有用</span>
                                                            <font>(0)</font>
                                                        </div>
                                                    </div>
                                                    <div class="eval-add">
                                                        <div class="add-content">
                                                            <span>[追加评论]</span>拉拉啊，我是卖报的小当家，哟吼黑，我送你离开，千里之外，你无声黑白，成魔年代，或许不该，太遥远的相爱、

                                                        </div>  
                                                        <div class="add-time">
                                                            <span>确认收货后 155 天追加</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="store-page text-right">
                                                <el-pagination :current-page="2"
                                                  layout="prev, pager, next"
                                                  :total="60">
                                                </el-pagination>
                                            </div>



                                            
                                        </div>
                                    
                                    </el-tab-pane>
                                    
                                  </el-tabs>
                                </template>
                    </div>
            </div>
        <div class="store-foot">
                    <el-row>
                      <el-col :span="3"> 
                        <img class="float-left" src="../../../images/store-foot3.png"> 
                      </el-col>
                       <el-col :span="5"> 
                            <div class="foot-tit">赚取积分方式多</div>
                            <div class="foot-info">网上购物、门店消费、分销商品、招募商家、签到...多种方式赚取积分</div> 
                       </el-col>
                        <el-col :span="3"> 
                        <img class="float-left" src="../../../images/store-foot2.png"> 
                      </el-col>
                       <el-col :span="5"> 
                            <div class="foot-tit">赚取积分方式多</div>
                            <div class="foot-info">网上购物、门店消费、分销商品、招募商家、签到...多种方式赚取积分</div> 
                       </el-col>
                       <el-col :span="3"> 
                        <img class="float-left" src="../../../images/store-foot1.png"> 
                      </el-col>
                       <el-col :span="5"> 
                            <div class="foot-tit">赚取积分方式多</div>
                            <div class="foot-info">网上购物、门店消费、分销商品、招募商家、签到...多种方式赚取积分</div> 
                       </el-col>
                    </el-row>
                         
                </div>
        <div class="footer">
        <div class="left">
            <ul>
                <li>关于我们</li>
                <span></span>
                <li>商家入驻</li>
                <span></span>
                <li>代理商合作</li>
                <span></span>
                <li>招商中心合作</li>
                <span></span>
                <li>帮助中心</li>
            </ul>
            <div class="copy-right">粤ICP备xxxxx号&nbsp;&nbsp;普宁市XX公司&nbsp;&nbsp;Copyyight@2014-2020&nbsp;&nbsp;xxxx版权所有</div>
            <div style="padding-top:6px;" class="copy-right">公司地址：xxxxxxxxx&nbsp;&nbsp;电话：0755-726689</div>
        </div>
        <div class="right">
            <div class="box first">
                <div class="qr-code-content">
                    <img src="../../../images/qr_code.png" />
                </div>
                <div class="title-content">
                    <div style="margin-top:9px;">快捷入口</div>
                    <div class="ttriangle"></div>
                    <div class="ttriangle-two"></div>
                </div>
            </div>
            <div class="box second">
                <div class="qr-code-content">
                    <img src="../../../images/qr_code.png" />
                </div>
                <div class="title-content">
                    微信公众号
                    <div class="ttriangle"></div>
                    <div class="ttriangle-two"></div>
                </div>
            </div> 
        </div>
    </div>
</div>
    </body>
    <script src="../../../js/common.js"></script>
    <script src="../../../js/pages/store/store-details.js"></script>
</html>