<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>实体店</title>
	<meta name="renderer" content="webkit">
	<meta name="force-rendering" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="../../../css/elementui.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/app.min.css" />
    <link href="../../../css/lib/last_css.css" rel="stylesheet" type="text/css" />
</head>
<style type="text/css">
.bb_content {
    text-align: left;
}

.shlist-content .list-right .right-content .car-tab .car-its .its {
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.shlist-content .list-right .right-content .car-tab .car-its {
    border-left: 0px;
}

.search2 {
    float: right;
    margin-top: 34px !important;
    position: relative;
}

/* .search2 input[type=text] {
    font: 13.3333px Arial;
    margin-left: -8px;
    height: 28px;
}

.search2 input[type=button] {
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 0;
} */

.box-img {
    height: 100%;
}

.shlist-content .list-right .right-content .car-tab .car-its {
    border-bottom: 0px;
}

.store-listcars .list-car img {
    width: 1260px;
    height: 450px;
}
.fooder {
    border-top: none;
}
.fooder dl {
    padding-left: 0;
    margin-right: 0;
}
.list-left .list-item.active{
    color: #f35601;
}
</style>

<body>
    <div id="app" v-cloak>
        <lf-header></lf-header>
        <div class="bb_content">
            <div class="bb-tit">
                <a href="/app/index.html" target="_self"><img src="../../../images/logo.png"></a>
                <lf-search><lf-search>
                <!-- <div class="search2">
                    <dl>
                        <dt>
                            <input name="" type="text" class="text c-9" v-model="searchStr" placeholder="请输入店铺名称或门牌号" />
                        </dt>
                        <dd>
                            <input name="" type="button" value="" @click="doSearch()" class="btn" />
                    </dl>
                    </dl>
                </div> -->
                <!-- <div class="sure-search">
					<input placeholder="请输入店铺或服务中心门牌号" name="" value="" v-model="searchStr"/>
					<span class=""><a href="javascript:void(0);" @click="doSearch()"><i class="fa fa-search"></i></a></span>
		 			</div> -->
            </div>
        </div>
        <div class="store-listcars">
            <div class="bb_content" id="bbContent" style="width:100%;text-align: center;">
                <div class="list-car">
                    <template>
                        <el-carousel height="461px ">
                            <el-carousel-item v-for="advert in advertList">
                                <div class="box-img"> <img :src="advert.picUrl" alt="" @click="go(advert.url)" height="200px" width="200px"></div>
                            </el-carousel-item>
                        </el-carousel>
                    </template>
                </div>
            </div>
        </div>
        <div class="bb_content">
	        <div class="w1000 shlist-content">
	            <div class="css-border"></div>
	            <el-row>
	                <el-col :span=4>
	                    <div class="list-left">
	                        <div class="tit"> 分类 </div>
	                        <div v-for="classify in classifyList" @click="listByClassify(classify)">
	                            <div class="list-item" :class="{'active':classify.classifyName==classifyName}">{{classify.classifyName}}</div>
	                        </div>
	                    </div>
	                </el-col>
	                <el-col :span=20 v-loading.body="loading">
	                    <div class="list-right">
	                        <div class="right-content">
	                            <template>
	                                <el-tabs v-model="activeName">
	                                    <el-tab-pane :label="classifyName" name="store-car">
	                                        <div v-for="classRes in classfyRight" class="car-tab">
	                                            <!-- <div class="tab-tit">{{classRes.classityName}}</div> -->
	                                            <div class="car-its" style="margin-left: 50px;border-bottom: 0px;">
	                                                <div v-for="res in classRes.storeList" class="its">
	                                                    <a href="javascript:void(0);" @click.stop.prevent="goStoreShop(res.houseNumber, res.id)" target="_blank">
	                                                        <img :src="res.logo">
	                                                        <div class="car-tits">
	                                                            {{res.shopName}}
	                                                        </div>
	                                                        <div class="car-show">{{res.houseNumber}}</div>
	                                                    </a>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </el-tab-pane>
	                                </el-tabs>
	                            </template>
	                        </div>
	                    </div>
	                </el-col>
	            </el-row>
	        </div>
        </div>
        <div class="store-foot">
            <el-row>
                <el-col :span="3">
                    <img class="float-left" src="../../../images/store-foot3.png">
                </el-col>
                <el-col :span="5">
                    <div class="foot-tit">赚取积分方式多</div>
                    <div class="foot-info">网上购物、门店消费、分销商品、招募商家、签到...多种方式赚取积分</div>
                </el-col>
                <el-col :span="3">
                    <img class="float-left" src="../../../images/store-foot2.png">
                </el-col>
                <el-col :span="5">
                    <div class="foot-tit">赚取积分方式多</div>
                    <div class="foot-info">网上购物、门店消费、分销商品、招募商家、签到...多种方式赚取积分</div>
                </el-col>
                <el-col :span="3">
                    <img class="float-left" src="../../../images/store-foot1.png">
                </el-col>
                <el-col :span="5">
                    <div class="foot-tit">赚取积分方式多</div>
                    <div class="foot-info">网上购物、门店消费、分销商品、招募商家、签到...多种方式赚取积分</div>
                </el-col>
            </el-row>
        </div>
        <lf-footer></lf-footer>
    </div>
</body>
<script src="../../../js/common.js"></script>
<script src="../../../js/pages/store/storelist.js"></script>

</html>
