<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>了解积分</title>
	<link href="../../../css/app.min.css" rel="stylesheet" type="text/css" />
             <link rel="stylesheet" type="text/css" href="../../../css/elementui.css" />
             <link href="../../../css/lib/last_css.css" rel="stylesheet" type="text/css" /> 
</head>
<style type="text/css">
	.header .header-center .center-left .four-font{
		margin-top: 16px;
	}
</style>
<body>
<div id="app">
    <lf-header></lf-header>
    <div class="search-content">
        <div class="search-left">
           <a href="/app/index.html" target="_self" > <image src="../../../images/logo.png"></image></a>
            <div class="search-left-right">
                <a href="/app/pages/about/sjrz.html" target="_blank">商家入驻</a>
                <a href="/app/pages/about/yyzx-about.html" target="_blank">运营中心加盟</a>
                <a href="javascript:void(0);" target="_blank">帮助中心</a>
            </div>
        </div>
        <lf-search><lf-search>
        <!-- <div class="search2">
                    <dl>
                        <dt><input name="" type="text" class="text c-9" v-model="searchStr" placeholder="请输入店铺名称或门牌号" /></dt>
                        <dd><input name="" type="button" value="" @click="doSearch()" class="btn" /></dl>
                    </dl>
                </div> -->
        <!-- <div class="search-right">
            <input placeholder="请输入店铺或服务中心门牌号" name="" value="" v-model="searchStr"/>
            <span class=""><a href="javascript:void(0);" @click="doSearch()"><i class="fa fa-search"></i></a></span>
        </div> -->
    </div>

<div class="banner_understand"></div>
<div class="understand_box">
	<DIV class="box w1000"><img src="../../../images/understand_01.jpg"/></DIV>
    <DIV class="box w1000"><img src="../../../images/understand_02.jpg" /></DIV>
    <DIV class="box w1000"><img src="../../../images/understand_03.jpg" /></DIV>
    <DIV class="box w1000"><img src="../../../images/understand_04.jpg" /></DIV>
</div>
    <lf-footer></lf-footer>
</div>
</body>
<script src="../../../js/common.js"></script>
<script src="../../../js/pages/about/about.js"></script>
</html>