<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="renderer" content="webkit">
	<meta name="force-rendering" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>了解我们</title>
	<link rel="stylesheet" type="text/css" href="../../../css/elementui.css" />
	<link href="../../../css/app.min.css" rel="stylesheet" type="text/css" />
	<link href="../../../css/lib/last_css.css" rel="stylesheet" type="text/css" />
</head>
<style type="text/css">
	.header .header-center .center-left .four-font{
		margin-top: 16px;
	}
</style>
<body>
<div id="app">
	<lf-header></lf-header>
<div class="search-content">
	<div class="search-left">
		<a href="/app/index.html" target="_self" >  <image src="../../../images/logo.png"></image></a>
		<div class="search-left-right">
			<a href="/app/pages/about/sjrz.html" target="_blank">商家入驻</a>
			<a href="/app/pages/about/yyzx-about.html" target="_blank">运营中心加盟</a>
			<a href="javascript:void(0);" target="_blank">帮助中心</a>
		</div>
	</div>
	<!-- <div class="search-right">
		<input placeholder="请输入店铺或服务中心门牌号" name="" value="" v-model="searchStr"/>
		<span class=""><a href="javascript:void(0);" @click="doSearch()"><i class="fa fa-search"></i></a></span>
	</div> -->
	<lf-search><lf-search>
	<!-- <div class="search2 ">
		<dl>
			<dt><input name="" type="text" class="text c-9" v-model="searchStr" placeholder="请输入店铺名称或门牌号" /></dt>
			<dd><input name="" type="button" value="" @click="doSearch()" class="btn" /></dl>
		</dl>
	</div> -->
</div>

	<div class="contentab01">
		<div class="banner banner_about"></div></div>
	<div class="nav-box w1000">
		<!--<ul class="nav-ul" style="position: fixed;left:0px; top:0">
			<li class="current">袋鼠集势</li>
			<li class="">经营理念</li>
			<li class="">招贤纳士</li>
			<li class="">联系我们</li>
			<li class="">客服服务</li>
		</ul>-->
		<div class="content ab01">
			<div class="rightbox">
				<div class="title">关于袋鼠集市平台</div>
				<div class="text f16">【袋鼠集市】 使传统零售实体拥有了线上线下的多销售渠道，帮助同城商家与消费者之间建立了更便捷实惠的消费通道。平台帮助商家以积分形式让利于会员，会员所获积分可以兑换好礼或换成袋鼠币下次消费直接抵扣现金，所有袋鼠集市电商平台的合作商家产生的积分都是通用的，形成跨行业、跨领域、跨区域的通用积分。会员亦可以申请成为平台加盟商家或袋鼠集市网上商城的分销会员，通过分享购物获得佣金与积分，实现老客户积极推荐新客户，形成销售的裂变效应。
					袋鼠集市平台帮助实体商家"互联网+"，拥抱互联网转型升级，迅速扩大自身优势。 </div>
				<div class="imgbox"><img src="../../../images/abouts_01.jpg"/></div>
			</div>
		</div>
		<div class="content ab02">
			<div class="rightbox">
				<div class="title">经营理念</div>
				<div class="text">
					<div class="left f16" style="width:72%">【反对马芸让实体商家关门倒闭，让实体商家没有难做的生意！</br>
						袋鼠集市于商家：更赚钱，帮助实体商家获得更多新客户、和巩固回头客；</br>
						袋鼠集市于顾客：更省钱，顾客通过消费获得积分、通过分享喜爱的商品获得奖励；</div>
					<div class="right" style="width:164px; margin-right:20px"><img src="../../../images/abouts_02.jpg" /></div>
				</div>
			</div>
		</div>
		<div class="content ab03">
			<div class="rightbox">
				<div class="title">招贤纳士</div>
				<div class="text m_top20">
					<div class="left" style=" margin-left:20px"><img src="../../../images/abouts_03.jpg" /></div>
					<div class="right" style="width:62%"><strong class="f16">web前端工程师 </strong><br />
						1. 有PC端和移动端web开发经验；<br />
						2. 负责页面从设计稿到静态页面的转换；<br />
						3. 运用HTML5、CSS3等前沿技术，快速页面重构；<br />
						4. 熟练使用html、css、javascript等前端技术；<br />
						5. 熟练使用常用javascript库和框架(如jQuery、AngularJS、seajs、backbone等)； <br />
						6. 有使用vue.js或nodejs开发经验优先；<br />
						7. 对web前端性能优化及web常见漏洞有一定理解和相关实践优先；<br />
						8. 具备良好的沟通能力和团队协作精神。 </div>
				</div>
			</div>
		</div>
		<div class="content ab04">
			<div class="rightbox">
				<div class="title">联系我们</div>
				<div class="text">
					<div class="left f14" style="width:70%">
						<div class="f16"><img src="../../../images/car_xz_03.jpg" style="width:20px; float:left; margin-right:5px;" /><strong>地址</strong></div>
						（袋鼠集市总部）深圳市南山区科技园高新南四道创维半导体设计大厦西座603-604 <br />
						（青海运营中心）xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br />
						（河北运营中心）xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx <br />
						（广东运营中心） xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx <br />
						（邮编：518057）</div>
					<div class="right" style=" margin-right:20px;"><img src="../../../images/abouts_04.jpg" width="177" height="164" /></div>
				</div>
			</div>
		</div>
		<div class="content ab05">
			<div class="rightbox">
				<div class="title">客服服务</div>
				<div class="text m_top20">
					<div class="left" style="margin-left:20px;"> <img src="../../../images/abouts_05.jpg" /></div>
					<div class="right f16 m_top40" style=" width:60%">客服热线：4007888925    0755-88308939
						<br />
						招商热线：4007888925<br />
						微    信：15989363272</div>
				</div>
			</div>
		</div>
	</div>
	<lf-footer></lf-footer>
</div>
</body>
<script src="../../../js/common.js"></script>
<script src="../../../js/pages/about/about.js"></script>
</html>
