<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>账号设置</title>
		<link rel="stylesheet" type="text/css" href="../../../css/elementui.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/app.min.css" />
		<style>
			/*.el-form-item {
				margin-bottom: 0;
			}
			
			.el-form-item__content,
			.el-input {
				height: 40px;
			}
			
			.el-form-item {
				margin-bottom: 20px;
			}
			
			.Password li {
				margin-bottom: 0 !important;
				overflow: hidden;
			}*/
			.el-cascader{
				height: 40px;
			    position: relative;
			    top: -10px;
			    left: -11px;
			}
			.el-cascader__label span{
				float: none !important;
			}
			body .Password .input-padding .el-form-item{
				text-align: left;
			}
			.el-form-item {     margin-bottom: 10px;}
    			.el-form-item__error{top:40px;}
		</style>
	</head>

	<body>
		<div id="app">
			<lf-header></lf-header>
			<div class="webbox w1000">
				<lf-left url="contact.html"></lf-left>
				<div class="rightbox">
					<div class="box">
						<ul class="switchbox">
							<li class="hover">联系方式</li>
						</ul>
						<div class="Password" v-loading="loading">
						<el-form id="uploadForm" enctype="multipart/form-data" v-show="true" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="0px" class="demo-ruleForm">
							<ul>
								<li>
									<div class="left"><span class="org">*</span>姓名：</div>
									<div class="right">
										<span class="txt2">
		             						<!-- <input name="" type="text" v-model="ruleForm.realName"/> -->
		             						<el-form-item prop="realName" >
										<el-input class="low" v-model="ruleForm.realName"></el-input>
									</el-form-item>
		              					</span>
		              				</div>
								</li>
								<li  style="margin-bottom:23px">
									<div class="left">性别：</div>
									<div class="right">
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="20"><input type="radio" name="radio" value="1" v-model="ruleForm.sex"/></td>
												<td width="21">男 </td>
												<td width="14">&nbsp;</td>
												<td width="20"><input type="radio" name="radio" value="2" v-model="ruleForm.sex"/></td>
												<td width="23">女</td>
											</tr>
										</table>
										<label for="radio"></label>
									</div>
								</li>
								<li>
									<div class="left"><span class="org">*</span>手机：</div>
									<div class="right">
										<span class="txt2">
		             						<!-- <input name="" type="text" v-model="ruleForm.phone" readonly="readonly"/> -->
		             							<el-form-item  prop="phone">
                               									<el-input v-model="ruleForm.phone" ></el-input>
                              								</el-form-item>
		              					</span>
									</div>
								</li>
								<li>
									<div class="left"><span class="org">*</span>客服电话：</div>
									<div class="right">
										<span class="txt2">
		              						<!-- <input name="" type="text" v-model="ruleForm.servicePhone"/> -->
				              						<el-form-item  prop="servicePhone">
		                       									<el-input v-model="ruleForm.servicePhone" ></el-input>
		                      								</el-form-item>
				               					</span>
									</div>
								</li>
								<li style="margin-bottom:23px">
									<div class="left">QQ：</div>
									<div class="right">
										<span class="txt2">
		                					<input name="" type="text" v-model="ruleForm.qq"/>
										</span>
									</div>
								</li>
								<li style="margin-bottom:23px">
									<div class="left">邮箱：</div>
									<div class="right">
										<span class="txt2">
		              						<input name="" type="text" v-model="ruleForm.email"/>
		            					</span>
									</div>
								</li>
								<li style="margin-bottom:23px">
									<div class="left">微信：</div>
									<div class="right">
										<span class="txt2">
		              						<input name="" type="text" v-model="ruleForm.weChat"/>
		              					</span>
									</div>
								</li>
								<li style="margin-bottom:23px">
									<div class="left"><span class="org">*</span>联系地址：</div>
									<div class="right">
										<span class="txt3" style=" width:60%;border: none;"><label for="select"></label>
											<el-cascader
											  	:options="options"
											  	v-model="selectedOptions"
											></el-cascader>
			           						<!--<select v-model="ruleForm.province">
			             						<option :value="data.id" v-for="data in provinceList" v-text="data.name"></option>
			           						</select>-->
										</span>
		           						<!--<span class="txt3" style=" width:20%;"><label for="select"></label>
								           	<select v-model="city">
								             	<option :value="data.id"  v-for="data in cityList" v-text="data.name"></option>
								           	</select>
		           						</span>
		           						<span class="txt3" style=" width:20%; height:40px;"><label for="select"></label>
								           	<select v-model="district">
								             	<option :value="data.id" v-for="data in districtList" v-text="data.name"></option>
							          		</select>
		           						</span>-->
		           						<span class="txt2" style="width:63%; margin-top:23px;">
		           							<input name="" type="text" v-model="ruleForm.street"/>
		           						</span>
									</div>
								</li>
								<li>
									<!-- <div class="right">
										<input name="确认提交" type="submit" value="确认保存" @click="submitForm('ruleForm')" class="bnt-org" />
									</div> -->
									<div class="left"></div>
									<div class="right margin-left input-padding button-span">
										<span>
											<el-form-item>
						                           				<el-button class="bnt-org" type="primary" @click="submitForm('ruleForm')">确认保存</el-button>
						                   				</el-form-item>
										</span>
									</div>
								</li>
								<!-- <li> -->
							</ul>
							</el-form>
						</div>
					</div>
				</div>
			</div>
			<lf-footer></lf-footer>
		</div>

	</body>
	<script src="../../../js/common.js"></script>
	<script src="../../../js/pages/business/contact_bz.js"></script>

</html>