<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>门店信息</title>
		<link rel="stylesheet" type="text/css" href="../../../css/elementui.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/app.min.css" />
		<style>
			/*.el-form-item {
				margin-bottom: 0;
			}
			
			.el-form-item__content,
			.el-input {
				height: 40px;
			}
			
			.el-form-item {
				margin-bottom: 20px;
			}
			
			.Password li {
				margin-bottom: 0 !important;
				overflow: hidden;
			}*/

			.el-cascader{
				height: 40px;
			    position: relative;
			    top: -10px;
			    left: -11px;
			}
			.right{
				text-align: left;
			}
			.right .el-cascader__label span{
				float: none;
			}
		</style>
</head>

<body>
	<div id="app">
		<lf-header></lf-header>
		<div class="webbox w1000">
			<lf-left url="contact_bz.html"></lf-left>
			<div class="rightbox">
			    	<div class="box">
			    		<ul class="switchbox">
			      			<li class="hover">门店信息</li>
			    		</ul>
			   		<div class="Password" v-loading="loading">
			       			<ul>
			       				<li>
			         					<div class="left" >门牌号：</div>
						         		<div class="right" ><strong v-text="ruleForm.houseNumber"></strong></div>
						         	</li>
						        	<li>
						         		<div class="left" >店铺名称：</div>
						         		<div class="right" ><strong v-text="ruleForm.shopName">优尚旗舰店</strong></div></li>
						        	<li style="margin-bottom:20px;">
			         					<div class="left" style="line-height:60px;" >商家LOGO：</div>
			         					<div class="right" >
			         						<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  							<tr>
									    		<td width="18%" rowspan="2"><img :src="logImg" width="100" height="59" /></td>
									    		<td width="82%"><span>
									    			<input @click="updatechoose" type="button" value="选择上传LOGO"  class="bnt-org"  style=" width:100px; font-size:12px; height:30px; background:#f37e01"/></span>
									    	<!--<input id="fileId" @change="uploadImg" enctype="multipart/form-data" type="file"  class="bnt-org"  style="display: none;"/></span>-->
									    			<form id="imgform" enctype="multipart/form-data">
									    				<input id="fileId" name="file" type="file" enctype="multipart/form-data" @change="uploadImg" style="display: none;">
									    			</form>
									    		</td>
									  	</tr>
									  	<tr>
									    		<td class="c-9" style="line-height:20px;">请上传一张90*45的图片</td>
									  	</tr>
									</table>
								</div>
							</li>
			           				<li>
			         					<div class="left" >商家地址：</div>
		         						<div class="right" >
		         							<span class="txt3" style=" width:60%;border: none;"><label for="select"></label>
								           		<el-cascader :options="options" v-model="selectedOptions"></el-cascader>
								         	</span>
								         	<span class="txt2" style="width:63%; margin:10px 0;">
								         		<input type="text" v-model="ruleForm.street"/>
								         	</span>
								         	<!--<span>
								         		<a href="#" onClick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
								         			<img src="../images/store_07.jpg" width="108" height="30"  style="margin-top:15px;" />
								         		</a>
								         	</span>-->
		         						</div>
			           				</li>				        
			                    			<li style="margin-bottom:10px">				           
						         		<div class="left" >服务承诺：</div>
						         		<div class="right" >
						           			<input  type="text" style="width:82%" v-model="ruleForm.servBear" />
						         		</div>
						         	</li>
						          	<li class="f_bottom10">							                      
						            		<div class="left" >退货期限：</div>
						          		<div class="right" >
								          	<span class="txt3" style=" width:20%;"><label for="select"></label>
								           		<select v-model="ruleForm.retPeriod" style="position: relative;top: -12px;">
								             		<option :value="data.value" v-for="data in retPeriodList" v-text="data.label"></option>
								           		</select>
								          	</span>
								</div>
						          	</li>
						          	<li>
						          		<div class="right" ><input type="submit" @click="submitForm" value="确认保存"  class="bnt-org"/></div>
						          	</li>							       	
			       			</ul>
			   		</div>
			    	</div>				     
			</div>
		</div>
		<lf-footer></lf-footer>
	</div>
	<script src="../../../js/common.js"></script>
	<script src="../../../js/pages/business/stores_information_bz.js"></script>
</body>	
</html>
