<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>个体商户</title>
	<meta name="renderer" content="webkit">
	<meta name="force-rendering" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" type="text/css" href="../../../css/elementui.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/lib/bz_css.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/lib/bz_web.css" />
</head>
<style>
	body .center-frame-apply .apply-blank-white .p-formation {
		margin-top: 15px;
	}

	.el-form-item__content {
		margin-left: 0px !important;
	}
	.el-form-item__content .el-input{
		display: inline-flex;
	}

	.center-frame-apply .apply-step-content {
		width: 839px;
	}

	html,
	body,
	div,
	span,
	applet,
	object,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	dd,
	dl,
	dt,
	fieldset,
	form,
	label,
	legend,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	ul,
	li {
		text-align: left;
	}
	.el-form-item__error {
		color: red;
		text-align: left;
	}
	.settled_list .el-checkbox__inner{
		width: 15px;
		height: 15px;
	}
	.settled_list {
		overflow: hidden;
	}
	.info-footer div{
		text-align: center;
	}
	#footer .clearfix{
		height: 175px;
	}
	#footer .w1000 div{
		text-align: center;
	}
</style>

<body style=" background:#f1f2f6">
	<div id="app">
		<div class="head">
			<div class="w1000">
				<div class="logo"><a href="/app/index.html"><img src="../../../images/logo.png" /></a></div>
				<div class="top_name">商家注册</div>
				<div class="right f14" style="line-height:45px;">已有袋鼠集市商户账号 ？ 赶快点击
					<a href="/app/login_bz.html" class="org" style=" text-decoration:underline">登录</a>！</div>

				</div>
			</div>
			<div class="w1000">
				<div class="settledbox">
					<div class="process"><img src="../../../images/register_1.jpg"></div>
					<div class="title02">
						<div class="left">基本资料</div>
					</div>
					<el-form id="uploadForm" enctype="multipart/form-data" v-show="true" :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
						<div class="settled_list">
							<ul>

								<li>
									<div class="left"><span class="org">*</span>手机号码</div>
									<div class="right">
										<el-form-item prop="phone">
											<el-input class="txt" v-model="ruleForm2.phone" ></el-input>
										</el-form-item>
									</li>

									<li>
										<div class="left"><span class="org">*</span>短信验证码</div>
										<div class="right">
											<el-form-item prop="securityCode">
												<el-input class="txt" v-model="ruleForm2.securityCode" ></el-input>
												<input style="cursor:pointer;" name="" type="button" :disabled="isDisabled" :value="sendSmsTxt" class="btn" @click="sendSms()"/>
											</el-form-item>
										</div>
									</li>

									<li>
										<div class="left"><span class="org">*</span>店铺名称</div>
										<div class="right">
											<el-form-item prop="shopName">
												<el-input class="txt" v-model.String="ruleForm2.shopName"></el-input><span class="c-9" style="padding-left: 14px;">与招牌名字一致</span>
											</el-form-item>
										</div>
									</li>

									<li>
										<div class="left"><span class="org">*</span>开店地址</div>
										<div class="right">
											<span class="txt3" style=" width:60%;border: none;"><label for="select"></label>
												<el-cascader
												:options="options"
												v-model="selectedOptions"
												></el-cascader>
											</span>
										</div>
									</li>

									<li>
										<div class="left"><span class="org">*</span>街道</div>
										<div class="right">
											<el-form-item prop="street">
												<el-input class="txt" v-model.String="ruleForm2.street"></el-input><span class="c-9"></span>
											</el-form-item>
										</div>
									</li>

									<li>
										<div class="left" style=""><span class="org">*</span>经营类型</div>
										<div class="right">
											<el-checkbox-group v-model="ruleForm2.manageType">
												<el-checkbox v-for="mt in manageTypeList" :label="mt.value">{{mt.label}}</el-checkbox>
											</el-checkbox-group>

										</div>
									</li>
								</ul>
							</div>
							<div class="title02">
								<div class="left">营业资料</div>
							</div>
							<div class="settled_list">
								<ul>

									<li>
										<div class="left">
											<!-- <span class="org">*</span>-->
											公司名称
										</div>
										<div class="right">
											<el-form-item prop="phyShopName">
												<el-input class="txt" v-model.String="ruleForm2.phyShopName"></el-input><span style="padding-left: 14px;" class="c-9">营业执照上的全称</span>
											</el-form-item>
									</div>
								</li>

								<li>
									<div class="left">
										<!-- <span class="org">*</span> -->
										营业执照注册号
									</div>
									<div class="right">
										<el-form-item prop="bizLicNo">
											<el-input class="txt" v-model.String="ruleForm2.bizLicNo"></el-input>
										</el-form-item>
									</div>
								</li>

								<li>
									<div class="left" style="line-height:190px;">
									<!-- <span class="org">*</span> -->
									上传营业执照照片
									</div>
									<div class="right">
										<div class="imgbox" style="cursor: pointer;" v-on:click="onclickBizLic">
											<span v-if="bizLicUrl==''">正面</span>
											<span v-else>
												<img style="width:304px;height:205px;" :src="bizLicUrl" />
											</span>
											<input id="bizLicFile" name="file" enctype="multipart/form-data" style="display: none;" type="file" v-on:change="uploadBizLic">
										</div>
										<span class="c-9" style="margin-top:165px; float:left;">（图片最大2M）</span>
									</div>
								</li>
							</ul>

						</div>
						<div class="title02">
							<div class="left">身份资料</div>
						</div>
						<div class="settled_list">
							<ul>

								<li>
									<div class="left">
									<!-- <span class="org">*</span> -->
										法人名称
									</div>
									<div class="right">
										<el-form-item prop="selfEmployedName">
											<el-input class="txt" v-model.String="ruleForm2.selfEmployedName">
											</el-form-item>
										</div>
									</li>

									<li>
										<div class="left" >
										<!-- <span class="org">*</span> -->
										法人身份证号码</div>
										<div class="right">
											<el-form-item prop="applyIdCard">
												<el-input class="txt" v-model.String="ruleForm2.applyIdCard">
												</el-form-item>
											</div>
										</li>

										<li>
											<div class="left" style="line-height:80px;">身份证正面</div>
											<div class="right" style="height: 85px;">
												<div style="position:relative; " class="char-formation-red right-content">
													<img id="imgId" style="width:103px;height:70px;position:absolute;top:0px;border: 1px dashed #d2d2d2;" :src="idCardA" />
													<span style="width: 38px;position:absolute;top:37px;left:158px;color:#9a6881;">示例:</span>
													<img style="position:absolute;top:0px;left:200px;height: 70px;" src="../../../images/upload2.png" />
												</div>
											</div>
											<div class="right c-9">
												<div class="m_top10">
													<input  id="cardfileA" name="file" class="btn" type="file" enctype="multipart/form-data" style="display: none;" v-on:change="uploadIdCardA">
													<input style="cursor:pointer;" name="" type="button" value="上传并预览" class="btn" @click="onclickIdCardA()" />（图片最大2M）</span>
												</div>
											</div>
										</li>
										<li>
											<div class="left" style="line-height:80px;" >身份证背面</div>
											<div class="right" style="height: 85px;">
												<div style="position:relative; " class="char-formation-red right-content">
													<img id="imgId" style="width:103px;height:70px;position:absolute;top:0px;border: 1px dashed #d2d2d2;" :src="idCardB" />
													<span style="width: 38px;position:absolute;top:37px;left:158px;color:#9a6881;">示例:</span>
													<img style="position:absolute;top:0px;left:200px;height: 70px;" src="../../../images/upload3.png" />
												</div>
											</div>
											<div class="right c-9">
												<div style="margin-top:10px;">
													<input id="cardfileB" name="file" enctype="multipart/form-data" style="display: none;"	type="file" v-on:change="uploadIdCardB"><br>
													<input style="cursor:pointer;" name="" type="button" value="上传并预览" class="btn" @click="onclickIdCardB()" />（图片最大2M）</span>
												</div>
												<div class="red">（必须同营业执照身份一致）</div>
											</div>
										</li>
									</ul>
									<dl class="info-footer" style="text-align: center;width: 100%;">
										<dt style="text-align: center;">
											<span  style="color:#ff3e03;float:initial;text-align: initial;">*</span>
											<el-checkbox v-model="flag"></el-checkbox>
											<span style="float: none;">袋鼠集市合作协议，请阅读</span>
										</dt>
										<dd>
											<el-form-item>
												<el-button type="primary" @click="submitForm('ruleForm2')" style="border-color:#FFFFFF;cursor:pointer;width:180px;height: 40px;background-image: url('../../../images/register_btn.jpg');"></el-button>
											</el-form-item>
										</dd>
									</dl>

								</div>
							</el-form>
						</div>
					</div>
					<div id="imgbox">

					</div>
					<lf-footer></lf-footer>
				</div>
				<script src="../../../js/common.js"></script>
				<script src="../../../js/pages/information/applyForAccount.js"></script>
			</body>

			</html>