/* 产品分类列表 */
.current{ height:50px; line-height:50px; font-family:"宋体"; font-size:14px;}
.current h1{ font:bold 16px/50px "微软雅黑"; float:left; margin-right:5px}
.current a{ margin-left:5px; margin-right:5px; padding-left:8px; padding-right:6px; border:1px solid #ddd; font-size:12px;font-family:"微软雅黑" ; padding-top:4px; padding-bottom:4px; overflow:hidden }
.current a span{background:url(../images/ico_001.jpg) right 5px no-repeat; padding-right:18px;}
.current a:hover{ text-decoration:none}
.list01{ width:80%; float:left}
.list01 a{ width:20%; float:left;color:#087cd7}
.more{ background:url(../images/ico_002.jpg) right no-repeat; padding-right:25PX; height:22PX; line-height:22PX;  margin-right:10px;}
.Check_Box{ background:url(../images/ico_003.jpg) no-repeat; width:47px; padding-left:12px; height:22px; line-height:22px; text-align:center; float:left; margin-right:6px}

.list02 .left{ float:left}
.list02 a{ float:left; margin-right:40px;}
.list02 .right{  float:left}
.list02 .right li{ float:left; margin-right:3px; margin-left:3px; height:24px;}
.list02 .right li .txt{height:24px; width:70px}
.list02 .right .btn{color:#666; border:1px solid #ddd; background:#f4f4f4; height:24px; margin:0px; line-height:22px; font-size:12px; padding:0px; width:50px;}


.list_right{ width:966px; float:right; overflow:hidden;}
.product{ overflow:hidden}
.product_box{ width:115%}
.product dl{ width:237px; float:left; margin-bottom:0px; margin-top:17px; margin-right:17px; padding:10px; height:330px;
	border: 1px solid #fff;
	-webkit-transition: border-color .1s ease;
	-moz-transition: border-color .1s ease;
	transition: border-color .1s ease;
}
.product dl:hover{ border:1px solid #e9e9e9;box-shadow: 0 0 2px 2px #f8f8f8;}
.product dt{ width:216px; height:216px; overflow:hidden; margin-bottom:10px}
.product dt img{ width:216px; height:216px; float:left}
.product dd{ overflow:hidden;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}.list_left{border:1px solid #eceaea; width:210px; overflow:hidden; padding:10px; float:left}

.list_left .product dl{ width:188px; float:left; margin-bottom:17px; margin-top:0px; margin-right:0px; padding:10px; height:280px;}
.list_left .product dl:hover{ border: none}
.list_left .product dt{  width:188px; height:188px; overflow:hidden; margin-bottom:10px}
.list_left .product dt img{  width:178px; height:178px; float:left}
.list_left .product dd{ overflow:hidden;display:block; overflow:hidden;}
.list_left .product .name{ height:40px; overflow:hidden; line-height:20px;}
.list_left h1{font: normal  14px/20px "微软雅黑"; overflow:hidden}

.screening{ background:#f1f1f1; border:1px solid #ddd; height:42px; line-height:30px; overflow:hidden; padding:6px}

.screening .left{ }
.screening .left  ul{ background:#fff; overflow:hidden}
.screening .left ul li{border-right:1px solid #ddd; height:28px; line-height:28px; float:left; border:1px solid #ddd; padding-left:10px; padding-right:10px; margin-left:-1px;}
.screening .left ul .hover{ background:#ff8b1e; color:#fff;}
.screening .left ul .hover a{color:#fff;}

.screening .right{}
.screening .right span{ float:right}
.screening .right ul{ float:right; padding-left:10px;}
.screening .right li{border-right:1px solid #ddd; height:28px; float:left; border:1px solid #ddd; font-family:"宋体"; line-height:26px; margin-left:-1px;}
.screening .right li a{ font-size:14px; width:100%; float:left; padding-left:10px; padding-right:10px;}
.screening .right li a:hover{background:#fff; text-decoration:none}
.screening .right .hover{ background:#fff; height:26px;}


.screening02{ background:#f1f1f1; border:1px solid #ddd; height:38px; line-height:24px; overflow:hidden; padding:6px; margin-top:-1px;}
.screening02 span{ float:left; margin-right:15px;}
.screening02 .txt{ height:24px; width:90px;background:#fff; margin-left:-10px}
.screening02  input{ border:#F60 1px solid; float:left; margin-right:3px; margin-top:5px;}