body {
    background-color: #f1f2f6;
    margin: 0px;

    .page-market {
        text-align: center;

        .header-bg {
            background-color: white;
        }
        .headerli {
            margin: 0 auto;
            width: 1200px;
            height: 100px;
            line-height: 100px;
            font-size: 22px;
            text-align: -webkit-left;

            .login {
                font-size: 30px;
                color: #f37e01;
            }
            .zc-login {
                font-size: 14px;
                float: right;
                text-decoration: none;

                .zc-span {
                    color: #ff4400;
                }
                .fa {
                    font-size: 18px;
                    color: #919191;
                }
            }
        }
        .content {
            border-top: 1px solid #e5e5e5;

            .content-lc {
                height: 110px;
                padding-top: 40px;
                width: 910px;
                margin: 0 auto;

                .el-steps {
                    .is-text {
                        .el-step__icon {
                            // color: #fff;
                        }
                    }
                    .el-step__head.is-finish.is-text {
                        background-color: #f37e01;
                        border-color: #f37e01;
                    }
                    .el-step__title.is-finish {
                        color: black;
                    }
                }
            }
            .content-bq {
                border: 1px solid #e5e5e5;
                width: 1200px;
                margin: 0 auto 50px;
                background-color: white;
                border-radius: 5px;

                .content-tel {
                    .el-form {
                        .el-form-item {
                            .el-form-item__content {
                                .el-button--primary {
                                    background: #f37e01;
                                    border: #f37e01;
                                    width: 100%;
                                }
                            }
                        }
                        .b-box {
                            font-size: 12px;
                            text-align: -webkit-auto;
                            left: 10px;
                            padding-left: 100px;
                        }
                        .verificationCode {
                            width: 171px;
                            float: left;
                        }
                        .bh {
                            border: 1px solid #BCBBBB;
                            border-radius: 4px;
                            float: left;
                            margin-left: 10px;
                            width: 139px;

                            .index {
                                text-align: center;
                                margin: 0px;
                                border-width: 0px;
                                float: left;
                                height: 34px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .banners {
                    width: 400px;
                    margin: 0 auto;
                    padding: 50px 0 20px 0;

                    .demo-ruleForm {
                        .el-form-item {
                            .el-form-item__content {
                                .el-button {
                                    width: 302px;
                                    background: #f37e01;
                                    border: 0px;
                                }
                            }
                        }
                    }
                    .checkPass {
                        .bh {
                            border: 1px solid #BCBBBB;
                            border-radius: 4px;
                            float: left;
                            margin-left: 10px;
                            width: 139px;

                            .index {
                                text-align: center;
                                margin: 0px;
                                border-width: 0px;
                                float: left;
                                height: 34px;
                                cursor: pointer;
                            }
                        }
                        .sr {
                            width: 150px;
                            float: left;
                        }
                    }
                }
                .bq-check {
                    margin-top: 85px;

                    .fa {
                        color: #f37e01;
                        font-size: 68px;
                    }
                }
                .bq-span {
                    font-size: 18px;
                    color: #dcdcdc;
                    margin-top: 20px;
                }
                .bq-button {
                    margin: 30px 0;

                    a {
                        background-color: #f4f4f4;
                        padding: 12px 52px;
                        font-size: 16px;
                        width: 170px;
                        text-decoration: none;
                        border: 1px solid #d2d2d2;
                        height: 38px;
                        line-height:14px;
                        border-radius: 5px;
                        color: #d2d2d2;
                        display:block;
                        margin:0 auto;
                    }
                }
            }
            .imagetop {
                display: none;
            }
            margin: 0;
            padding: 0;

            .backcolor {
                position: absolute;
                z-index: 9;
                top: 100px;
                left: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                width: 100%;
            }
            .content-layout {
                width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                height: 500px;
                z-index: 999;

                .login-box-warp {
                    position: absolute;
                    top: 63px;
                    right: 0px;
                    width: 342px;

                    .login-box {
                        border-radius: 5px;
                        border: 1px solid #deddde;
                        width: 344px;
                        padding: 25px 25px 23px;
                        color: #6c6c6c;
                        background: #fff;
                        position: relative;
                        margin: 0 auto;
                        background-color: rgba(255, 255, 255, .9);

                        .bd {
                            margin: 0;
                            padding: 0;
                            text-align: -webkit-left;

                            .bd-dl {
                                font-size: 16px;
                                color: #666666;
                            }
                            .bd-sj {
                                .username-field {
                                    .el-form-item__content {
                                        margin: 0px;

                                        .el-input__inner {
                                            position: absolute;
                                            left: 0px;
                                            top: 0px;
                                            padding: 10px 35px;
                                        }
                                    }
                                    margin-top: 20px;
                                    position: relative;

                                    .TPL_username_1 {
                                        display: block;
                                        width: 33px;
                                        height: 40px;
                                        line-height: 46px;
                                        color: #999999;
                                        text-align: center;
                                        position: absolute;
                                        left: 1px;
                                        top: 1px;
                                        outline: 0;
                                    }
                                    .phone {
                                        font-size: 28px;
                                    }
                                    .ph-label {
                                        position: absolute;
                                        line-height: 33px;
                                        height: 42px;
                                        color: #666666;
                                        opacity: 1;
                                        transition: all .2s ease-out;
                                        -webkit-transition: all .2s ease-in;
                                        -moz-transition: all .2s ease-out;
                                        left: 44px;
                                        top: 0;
                                        font-size: 14px;
                                        margin: 4px;
                                    }
                                    .login-text {
                                        width: 296px;
                                        font-size: 14px;
                                        line-height: 18px;
                                        height: 41px;
                                        padding: 11px 8px 11px 50px;
                                        opacity: 0.5;
                                        border: 1px solid #ddd;
                                        border-radius: 5px;
                                        background-color: #efefef;
                                    }
                                }
                            }
                            .wj-mm {
                                margin-top: 21px;
                                margin-bottom: 10px;
                                font-size: 12px;

                                a {
                                    text-decoration: none;
                                    color: #666666;
                                }
                                .wj {
                                    float: right;
                                }
                            }
                            .submit {
                                .J_Submit {
                                    width: 300px;
                                    height: 42px;
                                    border: 0;
                                    display: inline-block;
                                    overflow: hidden;
                                    vertical-align: middle;
                                    line-height: 42px;
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #fff;
                                    background: #f40;
                                    border-radius: 3px;
                                    cursor: pointer;
                                    zoom: 1;
                                }
                            }
                            .dsf {
                                margin-top: 25px;
                                margin-bottom: 13px;
                            }
                            .dsf-tp {
                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                        .hd {
                            .login-switch {
                                img {
                                    position: absolute;
                                    top: -1px;
                                    right: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            height: 145px;
            text-align: center;
            // margin-top: 20px;

            .footer-size {
                position: relative;
                margin: 0 auto;
                width: 1200px;
                text-align: -webkit-left;

                .footer-ew {
                    position: absolute;
                    top: 23px;
                    right: 0px;
                }
                .font-gy {
                    padding: 11px 0px;
                    margin-top: 35px;
                    height: 38px;
                    line-height: 38px;

                    .gy-span {
                        border-right: 1px solid #ababac;
                    }
                    a {
                        padding: 0px 9px 0px 13px;
                        color: #333333;
                        text-decoration: none;
                        font-size: 15px;
                    }
                }
                .font-icp {
                    padding-left: 13px;
                    padding-top: 10px;
                    color: #666666;
                    font-size: 13px;
                }
            }
        }
    }
    .img-frame {
        position: relative;
        margin: 0 auto;
        height: 472px;

        .box-card {
            .box-img {
                margin: 0 auto;
                width: 566px;
                height: 472px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .banner-ui {
            margin: 0 auto;
            width: 1200px;
            position: relative;

            .category-tab-content {
                position: absolute;
                z-index: 999;
                background-color: rgba(238, 238, 238, .95);
                width: 220px;
                height: 471px;
                top: 0px;

                ul {
                    margin: 0px;
                    padding: 0px;

                    li {
                        position: relative;
                        padding-left: 9px;
                        list-style: none;
                        height: 35px;
                        line-height: 31px;

                        .jy-a {
                            font-weight: bold
                        }
                        a {
                            font-size: 12px;
                            text-decoration: none;
                            color: #333333;
                        }
                        i {
                            font-size: 14px;
                        }
                        img {
                            width: 17px;
                            height: 13px;
                        }
                        .fa-angle-right {
                            position: absolute;
                            right: 9px;
                            top: 9px;
                        }
                    }
                    .active {
                        background-color: #fff;
                    }
                }
            }
            .j_categoryContent {
                height: 500px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 999;

                .j_CategoryMenuPannel {
                    //  display: none;
                    height: 471px;
                    width: 585px;
                    left: 220px;
                    position: absolute;
                    background-color: #fff;

                    .hot-word-con {
                        float: left;
                        width: 526px;
                        height: 450px;
                        margin: 19px 30px;
                        overflow: hidden;
                        background-color: #fff;

                        .line-title {
                            width: 60px;
                            color: #333;
                            margin-right: 30px;
                            position: relative;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 22px;
                            height: 22px;
                            float: left;

                            .title-text {
                                display: inline-block;
                                width: 60px;
                                overflow: hidden;
                                text-align: justify;
                                text-justify: distribute-all-lines;
                                text-align-last: justify;
                                -moz-text-align-last: justify;
                                -webkit-text-align-last: justify;
                            }
                            i {
                                display: block;
                                position: absolute;
                                top: 4px;
                                right: -15px;
                            }
                        }
                        .line-con {
                            width: 426px;
                            float: left;
                            border-bottom-width: 1px;
                            border-bottom-style: dashed;
                            border-bottom-color: #eee;
                            border-bottom-color: rgba(0, 0, 0, 0.1);
                            padding-bottom: 10.5px;
                            margin-bottom: 10.5px;

                            .hot-word {
                                height: 22px;
                                line-height: 22px;
                                font-size: 12px;
                                color: #666;
                                float: left;
                                margin-left: 13px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .banner-ug {
            position: absolute;
            top: 0px;
            width: 100%;

            .img {
                position: relative;
                margin: 0 auto;
                width: 1200px;

                .sj-gg {
                    width: 179px;
                    height: 425px;
                    position: absolute;
                    right: 0px;
                    top: 13px;
                    background: #fff;
                    z-index: 999;
                    overflow: hidden;

                    .sj-pp {
                        height: 212px;
                        border-bottom: 1px dashed #cccccc;
                        text-align: center;

                        .sj-tx {
                            padding-top: 9px;
                            text-align: center;
                            font-size: 12px;
                            font-weight: bold;
                        }
                        .sj-tb {
                            background-color: #e42634;
                            width: 92px;
                            height: 22px;
                            text-align: center;
                            line-height: 22px;
                            color: #fff;
                            font-size: 12px;
                            margin: 0 auto;
                            margin-top: 8px;
                        }
                        .sj-content {
                            margin: 0 auto;
                            width: 81px;
                            height: 100px;
                            margin-top: 18px;
                        }
                    }
                }
            }
        }
    }
    .gg-console {
        padding-top: 17px;
        background: white;
        overflow: hidden;

        .gg-content {
            margin: 0 auto;
            width: 1200px;
            overflow: hidden;

            .gg-span {
                margin: 0px;
                padding: 0px;

                .gg-img {
                    list-style: none;
                    width: 250px;
                    display: block;
                    margin-bottom: 20px;
                    float: left;

                    /* 往左浮动 */
                    a {
                        img {
                            width: 250px;
                            height: 137px;
                        }
                    }
                }
                .gg-sx {
                    margin: 0px;

                    a {
                        .dq-jb {
                            width: 184px;
                            height: 240px;
                        }
                    }
                }
            }
        }
        .cz-ch {
            .titel-zz {
                img {
                    margin-top: 28px;
                }
                span {
                    color: #848383;
                    margin-left: 20px;
                    font-size: 28px;
                }
            }
            .gg-span {
                .gg-img {
                    .img-div {
                        width: 232px;
                        height: 316px;
                        border: 1px solid #cccccc;
                        position: relative;

                        .img-tv {
                            text-align: center;

                            img {
                                margin: 0 auto;
                                margin-top: 21px;
                                width: 184px;
                                height: 184px;
                            }
                        }
                        .img-bk {
                            position: absolute;
                            top: 0px;
                            right: 0px;

                            .img-ab {
                                position: relative;
                                width: 55px;
                                height: 54px;

                                span {
                                    position: absolute;
                                    left: 12px;
                                    top: 14px;
                                    color: #fff;
                                    font-weight: bold;
                                }
                            }
                        }
                        .jf-img {
                            text-align: center;

                            .jf-sz {
                                font-size: 20px;
                                color: #f35601;
                            }
                            .jf-f {
                                font-size: 12px;
                                color: #f35601;
                            }
                            .jf-fa {
                                font-size: 12px;
                                color: #666666;
                            }
                            .jf-w {
                                font-size: 12px;
                                color: #f35601;
                            }
                        }
                        .banne {
                            a {
                                text-decoration: none;
                            }
                            text-align: center;

                            .banne-span {
                                font-size: 12px;
                                color: #666666;
                                padding-left: 21px;
                                padding-right: 21px;
                                margin-top: 22px;
                            }
                            .button {
                                margin-top: 27px;
                                background-color: #ff7906;
                                height: 49px;
                                line-height: 49px;
                                color: #fff;
                                font-size: 22px;
                            }
                        }
                    }
                    margin-top: 18px;
                }
            }
        }
    }
    .zb-div {
        background-color: #f5f5f5;

        .zb-content {
            width: 1200px;
            margin: 0  auto;

            .zb-title {
                height: 80px;

                .span {
                    font-size: 18px;
                    font-weight: bold;
                    float: left;
                    padding-top: 40px;
                }
                .zb-rm {
                    float: right;
                    margin-top: 40px;
                    margin-right: 26px;
                    padding-bottom: 4px;
                }
                .active {
                    color: #ff6700;
                    border-bottom: 2px solid #ff6700;
                }
            }
            .zb-nr {
                overflow: hidden;
                position: relative;

                .gg-span {
                    margin: 0px;
                    padding: 0px;
                    margin: 0px !important;

                    .gg-img {
                        a {
                            text-decoration: none;

                            .zb-img {
                                width: 237px;
                                height: 300px;
                                margin-bottom: 10px;

                                .herader {
                                    padding: 22px 0 0 51px;
                                    font-size: 22px;
                                    font-weight: bold;
                                    color: #000;
                                }
                                .title {
                                    padding: 0 0 0 38px;
                                    color: #6c6c6c;
                                }
                                .jifen {
                                    padding: 10px 0 0 99px;
                                    font-size: 14px;
                                    color: #ff6c00;

                                    span {
                                        color: #f45518;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                        .gg-bg {
                            height: 143px;
                            background-color: #fff;
                            margin-bottom: 14px;
                        }
                        .gg-zt {
                            margin-bottom: 0px;

                            .gg-su {
                                height: 48px;
                                position: relative;
                                padding: 0px 35px;

                                .gg-a {
                                    a {
                                        text-decoration: none;
                                        color: #333333;
                                        font-size: 14px;
                                    }
                                    .gg-rm {
                                        color: #757575;
                                        font-size: 12px;
                                    }
                                }
                                .gg-i {
                                    position: absolute;
                                    right: 35px;
                                    top: 0px;

                                    a {
                                        i {
                                            color: #ff6700;
                                            font-size: 42px;
                                        }
                                    }
                                }
                            }
                        }
                        list-style-type: none;
                        margin-right: 13px;
                        float: left;

                        .img-div {
                            width: 232px;
                            height: 332px;
                            border: 1px solid #cccccc;
                            position: relative;

                            .img-tv {
                                text-align: center;

                                img {
                                    margin: 0 auto;
                                    margin-top: 21px;
                                }
                            }
                        }
                    }
                    .gg-sx {
                        position: absolute;
                        right: 0px;
                        border: 1px solid #f3f3f3;
                    }
                    .gg-jd {
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        height: 172px;
                        width: 186px;
                        margin-right: 13px;
                        border: 1px solid #f3f3f3;

                        .drmw {
                            margin-top: 18px;
                            margin-left: 12px;

                            a {
                                text-decoration: none;
                                font-size: 12px;
                                color: #333333;
                                margin-right: 8px;
                            }
                            .fisrst {
                                font-weight: bold;
                                margin-right: 21px;
                            }
                        }
                    }
                    .gg-imge {
                        margin-right: 0px;

                        a {
                            .zb-jb {
                                width: 407px;
                                height: 206px;
                            }
                        }
                    }
                    margin-top: 18px;
                }
            }
            .zb-xx {
                height: 416px;
            }
        }
        .zb-img-i {
            height: 526px;
        }
    }
    .zb-jy {
        background-color: #fff;
        height: 526px;

        .zb-content {
            .zb-border {
                border-bottom: 1px solid #ff921e;
            }
            .gg-wd {
                margin: 0px !important;
                border: 1px solid #f3f3f3;
                width: 202px;
                height: 206px;

                a {
                    .dq-jb {
                        width: 202px;
                        height: 206px;
                    }
                }
                .gg-banne {
                    width: 407px;
                    height: 206px;

                    .el-card {
                        border: 0px;
                    }
                }
            }
            .gg-li {
                width: 407px;
                height: 206px;
            }
        }
    }
    .ls-bu {
        overflow: hidden;
        background: #f5f5f5;

        .ls-my {
            margin: 0 auto;
            width: 1200px;

            .ls-header {
                font-size: 18px;
                font-weight: bold;
                padding-top: 48px;
                padding-bottom: 18px;

                .ls-rp {
                }
            }
            .ls-content {
                float: left;
                height: 300px;
                width: 319px;
                margin-right: 21px;
                background-color: #fff;

                .ls-img {
                    img {
                        width: 318px;
                        height: 218px;
                    }
                }
                .ls-nr {
                    padding-top: 32px;
                    padding-left: 32px;
                    padding-right: 32px;
                }
                .ls-x {
                    padding-top: 55px;
                    padding-left: 32px;
                    color: #b0b0b0;
                    font-size: 12px;
                }
                .ls-qw {
                    padding-top: 16px;
                    padding-left: 32px;

                    .js {
                        color: #ff6c00;
                    }
                }
            }
            .ls-contents {
                margin-right: 0px;
            }
        }
    }
    .content-nr {
        .content-nm {
            border-top: 3px solid #f37e01;
            margin: 0 auto;
            width: 1200px;
            background-color: #fff;
            position: relative;
            //           overflow: hidden;
            height: 480px;

            .content-in {
                width: 490px;
                height: 490px;
                border: 1px solid #e5e5e5;
                float: left;
                margin-top: 25px;
                margin-left: 25px;

                .import {
                    text-align: center;

                    img {
                        margin: 0 auto;
                    }
                }
            }
            .content-ft {
                float: left;
                padding-top: 25px;
                padding-left: 14px;

                .zp {
                    width: 82px;
                    height: 84px;
                    overflow: hidden;
                    cursor: pointer;
                    margin-bottom: 12px;
                    border: 1px solid #dedede;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .active {
                    width: 78px;
                    height: 80px;
                    overflow: hidden;
                    cursor: pointer;
                    margin-bottom: 12px;
                    border: 3px solid #656462;
                }
            }
            .content-fb {
                width: 313px;
                position: relative;
                float: right;
                right: 30px;
                font-size: 16px;

                .content-lasrt {
                    margin-top: 24px;
                    padding-right: 24px;
                }
                .content-span {
                    color: #b0b0b0;
                    font-size: 14px;
                    margin-top: 21px;
                }
                .content-bj {
                    border-top: 1px dashed #c1c1c1;
                    border-bottom: 1px dashed #c1c1c1;
                    height: 93px;
                    background-color: #fcfcfc;
                    background-image: url("../images/bjtp.png?_inline");
                    position: relative;

                    .content-img {
                        position: absolute;
                        right: 0px;
                        top: -13px;
                    }
                    .content-jf {
                        height: 100%;
                        line-height: 92px;
                        padding-left: 78px;
                        color: #ff4400;
                        font-size: 14px;

                        .content-dj {
                            font-size: 30px;
                        }
                    }
                }
                .content-fw {
                    height: 47px;
                    border-bottom: 1px dashed #c1c1c1;
                    padding-left: 11px;
                    line-height: 48px;
                    font-size: 12px;

                    .serve {
                        color: #a1a1a1;
                        margin-right: 18px;
                    }
                }
                .content-button {
                    .content-jr {
                        float: left;
                        padding: 25px 0;

                        .button {
                            width: 152px;
                            height: 45px;
                            background-color: #ff4400;
                            font-size: 17px;
                            line-height: 45px;
                            text-align: center;
                            color: #fff;
                            border-radius: 2px;
                        }
                        .fx {
                            margin-top: 21px;

                            .img-fx {
                                margin-right: 23px;
                                float: left;
                                font-size: 12px;
                                color: #868686;
                            }
                        }
                    }
                    .ewm {
                        float: right;
                        width: 119px;
                        height: 136px;
                        border: 1px solid #d2d2d2;
                        background-color: #f2f2f2;
                        margin-top: 19px;
                        padding-left: 5px;
                        padding-top: 5px;

                        .ewm-span {
                            font-size: 14px;
                            color: #666666;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .top {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        position: relative;

        .top-left {
            float: left;
            background-color: #fff;
            width: 188px;
            border: 1px solid  #dcdcdc;

            .top-header {
                background-image: url("../images/wnbj.png?_inline");
                text-align: center;
                height: 32px;
                line-height: 32px;

                div {
                    color: #fff;

                    span {
                        color: #434343;
                    }
                }
            }
            .xne {
                border-bottom: 1px solid #ececec;
                text-align: center;
                padding-top: 11px;

                img {
                    margin: 0 auto;
                }
            }
        }
        .top-right {
            border: 1px solid #d8d8d8;
            border-top: 2px solid #ff4400;
            background-color: #fff;
            float: right;
            width: 793px;

            .active-content {
                .content-t {
                    margin-left: 22px;
                    margin-right: 22px;
                    font-size: 14px;
                    padding-bottom: 21px;
                    border-bottom: 1px solid #dadada;

                    .title {
                        margin-top: 15px;
                        margin-bottom: 35px;
                    }
                    .ccs {
                        margin-bottom: 25px;
                    }
                    .neirong {
                        margin-bottom: 17px;

                        .el-row>div {
                            padding: 10px 0;
                        }
                    }
                }
                .neirong-img {
                    padding-top: 11px;
                    text-align: center;

                    img {
                        margin: 0 auto;
                        width: 95%;
                    }
                }
            }
        }
    }
    .fsshow {
        .fsshow-banner {
            margin: 0 auto;
            width: 1200px;
            height: 461px;

            .el-card {
                border: 0px;
                width: 1200px;
                height: 461px;

                .el-card__body {
                    padding: 0px;
                    width: 1200px;
                    height: 461px;
                }
            }
        }
    }
    .yb-ym {
        .yb-jj {
            margin: 0 auto;
            width: 1200px;
            height: 148px;
            padding-top: 11px;

            .border {
                float: left;
                margin-right: 11px;
                width: 241px;
                height: 112px;
                background-color: #eba254;
                color: #fff;
                cursor: pointer;
                // line-height: 112px;
                font-size: 18px;

                .img {
                    float: left;
                    padding: 32px 0 0 28px;

                    img {
                    }
                }
                .span {
                    padding: 39px 0 0 28px;
                    float: left;

                    .xz {
                        font-size: 12px;
                    }
                }
            }
            .no-right {
                margin: 0px;
                background-color: #3060cb;
            }
            .yyzx {
                background-color: #fb5e5a;
            }
            .jfdh {
                background-color: #78a966;
            }
        }
    }
    .yyf-content {
        .yyf-img {
            margin: 0 auto;
            width: 1200px;
            background-color: #fff;
            height: 748px;

            .yyf-btn {
                background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
                background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
                background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
                background-size: 16px 16px;
                background-color: #f39801;
                height: 3px;
                width: 100%;
            }
            .yyf-tp {
                width: 333px;
                height: 370px;
                float: left;
                padding-top: 48px;
                text-align: center;

                .img {
                    width: 146px;
                    height: 146px;
                    border: 1px solid #e4e4e4;
                    border-radius: 86px;
                    margin: 0 auto;
                    text-align: center;
                    line-height: 199px;

                    img {
                        margin: 0 auto;
                    }
                }
                .title {
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 21px;
                }
                .content {
                    font-size: 14px;
                    color: #666666;
                    margin-top: 17px;
                }
            }
        }
    }
    .Password {
        .margin-left {
            .el-form-item {
                margin-bottom: 0px;
                padding-top: 8px;
            }
            .el-form-item__content {
                margin-left: 0px !important;
            }
            .el-radio-group {
                span {
                    line-height: 17px;
                }
            }
        }
        .input-padding {
            .el-form-item {
                margin-bottom: 0px;
                padding-top: 0px;
            }
        }
        .button-span {
            line-height: 0px;

            span {
                line-height: 17px;
                float: none;
            }
        }
    }
}