<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Element UI</title>
		<link rel="stylesheet" type="text/css" href="../../css/elementui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app.min.css" />
		<style>
			.el-carousel__item h3 {
			    color: #475669;
			    font-size: 18px;
			    opacity: 0.75;
			    line-height: 300px;
			    margin: 0;
			  }
			   .bg-purple-dark {
				    background: #99a9bf;
				  }
			  .el-carousel__item:nth-child(2n) {
			    background-color: #99a9bf;
			  }
			  
			  .el-carousel__item:nth-child(2n+1) {
			    background-color: #d3dce6;
			  }
		</style>
	</head>
	<body>
		<div id="app">
			<el-card class="box-card">
			  	<div slot="header" class="clearfix">
			    	<span style="line-height: 36px;">按钮</span>
			  	</div>
			  	<el-button>默认按钮</el-button>
				<el-button type="primary">主要按钮</el-button>
				<el-button type="text">文字按钮</el-button>
			</el-card>
			<el-card class="box-card">
			  	<div slot="header" class="clearfix">
			    	<span style="line-height: 36px;">loading</span>
			  	</div>
			  	<el-button
				    type="primary"
				    @click="openFullScreen"
				    v-loading.fullscreen.lock="fullscreenLoading">
				    显示整页加载，3 秒后消失
				  </el-button>
			</el-card>
		 
			<el-card class="box-card"
				v-loading="loading2"
				element-loading-text="拼命加载中"
				>
			  	<div slot="header" class="clearfix">
			    	<span style="line-height: 36px;">loading</span>
			  	</div>
			  	<div>loading 部分覆盖</div>
			</el-card>
			<br />
			<br />
			<el-card class="box-card">
			  	<div slot="header" class="clearfix">
			    	<span style="line-height: 36px;">走马灯</span>
			  	</div>
			  	<el-carousel height="150px">
			      <el-carousel-item v-for="item in 4">
			        <h3>{{ item }}</h3>
			      </el-carousel-item>
			    </el-carousel>
			</el-card>
			
			<el-card class="box-card">
			  	<div slot="header" class="clearfix">
			    	<span style="line-height: 36px;">steps</span>
			  	</div>
			  	<el-steps :space="100" :active="1" finish-status="success">
				  <el-step title="已完成"></el-step>
				  <el-step title="进行中"></el-step>
				  <el-step title="步骤 3"></el-step>
				</el-steps>
			</el-card>
			<el-card class="box-card"
				>
			  	<div slot="header" class="clearfix">
			    	<span style="line-height: 36px;">steps</span>
			  	</div>
			  	<el-table
			      :data="tableData"
			      style="width: 100%">
			      <el-table-column
			        prop="date"
			        label="日期"
			        width="180">
			      </el-table-column>
			      <el-table-column
			        prop="name"
			        label="姓名"
			        width="180">
			      </el-table-column>
			      <el-table-column
			        prop="address"
			        label="地址">
			      </el-table-column>
			    </el-table>
			    <el-pagination
			      layout="prev, pager, next"
			      :total="1000">
			    </el-pagination>
			</el-card>
			
			
			<el-card class="box-card"
				>
			  	<div slot="header" class="clearfix">
			    	<span style="line-height: 36px;">栅格布局</span>
			  	</div>
			  	<el-row :gutter="10">
				  <el-col :xs="8" :sm="6" :md="4" :lg="3">1</el-col>
				  <el-col :xs="4" :sm="6" :md="8" :lg="9">2</el-col>
				  <el-col :xs="4" :sm="6" :md="8" :lg="9">3</el-col>
				  <el-col :xs="8" :sm="6" :md="4" :lg="3">4</el-col>
				</el-row>
			</el-card>

			<template>
	          <el-radio class="radio" v-model="radio" label="1">全部</el-radio>
	          <el-radio class="radio" v-model="radio" label="2">图片（115）</el-radio>
	        </template>
		</div>
	</body>
	<script src="../../js/common.js"></script>
	<script src="../../js/test/test1.js"></script>
</html>
