<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
       <link rel="stylesheet" type="text/css" href="../../../css/elementui.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/app.min.css" /> 
    </head>
    <body>
        <div class="search-content">
                <div class="search-left">
                   <a href="/app/index.html" target="_self"  style=" text-decoration:underline"> <image src="../../images/logo.png"></image></a>
                    <div class="search-left-right">
                        <a href="">商家入驻</a>
                         <a href="">代理商合作</a>
                          <a href="">招商中心合作</a>
                           <a href="">帮助中心</a>
                    </div>      
                </div>
                <div class="search-right">
                    <input placeholder="请输入店铺或服务中心门牌号" name="" value="" />
                    <span class=""><i class="fa fa-search"></i></span>
                </div>
            </div>
            <div class="fsshow">
                    <div class="fsshow-banner">
                            <div class=" " id = "app">
                                <el-card class="box-card">
                                    <el-carousel height="461px" >
                                      <el-carousel-item  v-for="item in 1">
                                       <div class="box-img" >   <img src="../../images/store-b2.png"  alt=""></div>
                                      </el-carousel-item>
                                      <el-carousel-item v-for="item in 1">
                                        <div class="box-img" ><img src="../../images/store-b1.png"  alt=""></div>
                                      </el-carousel-item>
                                      <el-carousel-item v-for="item in 1">
                                        <div class="box-img" ><img src="../../images/store-b2.png"  alt=""></div>
                                      </el-carousel-item>
                                    </el-carousel>
                                </el-card>
                            </div>
                    </div>
            </div>
            <div class="yb-ym">
                    <div class="yb-jj">
                            <div class="border">
                                    <div class="img">
                                    <img src="../../images/sjrz.png" alt="">

                                    </div>
                                    <div class="span">
                                        <div>商家入驻</div>
                                        <div class="xz">
                                            Merchants settled
                                        </div>
                                    </div>
                            </div>
                            <div class="border yyzx">
                                    <div class="img">
                                    <img src="../../images/yyzx.png" alt="">

                                    </div>
                                    <div class="span">
                                        <div>运营中心</div>
                                        <div class="xz">
                                            Merchants settled
                                        </div>
                                    </div>
                            </div>
                            <div class="border jfdh">
                                    <div class="img">
                                    <img src="../../images/jfdh.png" alt="">

                                    </div>
                                    <div class="span">
                                        <div>积分兑换</div>
                                        <div class="xz">
                                            Merchants settled
                                        </div>
                                    </div>
                            </div>
                            <div class="border no-right">
                                    <div class="img">
                                    <img src="../../images/zsjl.png" alt="">

                                    </div>
                                    <div class="span">
                                        <div>招商经理</div>
                                        <div class="xz">
                                            Merchants settled
                                        </div>
                                    </div>
                            </div>
                    </div>
            </div>
            <div class="yyf-content">
                    <div class="yyf-img">
                            <div class="yyf-btn"></div>
                            <a href="" title="">
                            <div class="yyf-tp">
                                    <div class="img">
                                            <img src="../../images/jifenduihuan.png" alt="">
                                    </div>
                                    <div class="title">积分兑礼</div>
                                    <div class="content">
                                            <span>积分兑换超值豪礼！</br>
                                                满足会员、衣、食、住、行，</br>
                                                生活中各类消费需求。
                                            </span>
                                    </div>
                            </div>
                            </a>
                            <a href="" title="">
                            <div class="yyf-tp">
                                    <div class="img">
                                            <img src="../../images/jifenduihuan.png" alt="">
                                    </div>
                                    <div class="title">积分兑礼</div>
                                    <div class="content">
                                            <span>积分兑换超值豪礼！</br>
                                                满足会员、衣、食、住、行，</br>
                                                生活中各类消费需求。
                                            </span>
                                    </div>
                            </div>
                            </a>
                            <a href="" title="">
                            <div class="yyf-tp">
                                    <div class="img">
                                            <img src="../../images/jifenduihuan.png" alt="">
                                    </div>
                                    <div class="title">积分兑礼</div>
                                    <div class="content">
                                            <span>积分兑换超值豪礼！</br>
                                                满足会员、衣、食、住、行，</br>
                                                生活中各类消费需求。
                                            </span>
                                    </div>
                            </div>
                            </a>
                            <a href="" title="">
                            <div class="yyf-tp">
                                    <div class="img">
                                            <img src="../../images/jifenduihuan.png" alt="">
                                    </div>
                                    <div class="title">积分兑礼</div>
                                    <div class="content">
                                            <span>积分兑换超值豪礼！</br>
                                                满足会员、衣、食、住、行，</br>
                                                生活中各类消费需求。
                                            </span>
                                    </div>
                            </div>
                            </a>
                            <a href="" title="">
                            <div class="yyf-tp">
                                    <div class="img">
                                            <img src="../../images/jifenduihuan.png" alt="">
                                    </div>
                                    <div class="title">积分兑礼</div>
                                    <div class="content">
                                            <span>积分兑换超值豪礼！</br>
                                                满足会员、衣、食、住、行，</br>
                                                生活中各类消费需求。
                                            </span>
                                    </div>
                            </div>
                            </a>
                            <a href="" title="">
                            <div class="yyf-tp">
                                    <div class="img">
                                            <img src="../../images/jifenduihuan.png" alt="">
                                    </div>
                                    <div class="title">积分兑礼</div>
                                    <div class="content">
                                            <span>积分兑换超值豪礼！</br>
                                                满足会员、衣、食、住、行，</br>
                                                生活中各类消费需求。
                                            </span>
                                    </div>
                            </div>
                            </a>
                            
                    </div>
            </div>
             <div class="footer">
        <div class="left">
            <ul>
                <li>关于我们</li>
                <span></span>
                <li>商家入驻</li>
                <span></span>
                <li>代理商合作</li>
                <span></span>
                <li>招商中心合作</li>
                <span></span>
                <li>帮助中心</li>
            </ul>
            <div class="copy-right">粤ICP备xxxxx号&nbsp;&nbsp;普宁市XX公司&nbsp;&nbsp;Copyyight@2014-2020&nbsp;&nbsp;xxxx版权所有</div>
            <div style="padding-top:6px;" class="copy-right">公司地址：xxxxxxxxx&nbsp;&nbsp;电话：0755-726689</div>
        </div>
        <div class="right">
            <div class="box first">
                <div class="qr-code-content">
                    <img src="../../images/qr_code.png" />
                </div>
                <div class="title-content">
                    <div style="margin-top:9px;">快捷入口</div>
                    <div class="ttriangle"></div>
                    <div class="ttriangle-two"></div>
                </div>
            </div>
            <div class="box second">
                <div class="qr-code-content">
                    <img src="../../images/qr_code.png" />
                </div>
                <div class="title-content">
                    微信公众号
                    <div class="ttriangle"></div>
                    <div class="ttriangle-two"></div>
                </div>
            </div> 
        </div>
    </div>
    </body>
        <script src="../../js/common.js"></script>
        <script src="../../js/pages/merchant_intro.js"></script>
</html>